.card {
  display: flex;
  gap: 0.875rem;
  margin-bottom: 1.25rem;
}

.image {
  width: 3rem;
  height: 3rem !important;
  border-radius: 50%;
  overflow: hidden;
}

.description p {
  margin: 0;
}

.position {
  font-size: 14px;
  opacity: 0.8;
}
